html {
    background-color: darkolivegreen;
}

header {
    text-align: center;
    color: tomato;
    text-shadow: black 2px 2px;
}

.reset,
.roll {
    display: inline-block;
    margin-left: 450px;
}

button {
    width: 150px;
    height: 150px;
}

.msg {
    font-family: fantasy;
    color: orangered;
    font-size: 2rem;
    padding-top: 66px;
    text-align: center;
    height: 30px;
    text-shadow: black 2px 2px;

}


.score {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: aqua;
    display: block;
    text-align: center;
    text-shadow: black 2px 2px;

}


.dice {
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: aqua;
    display: block;
    text-align: center;
    text-shadow: black 2px 2px;

}

h2 {
    display: block;
    text-shadow: black 2px 2px;

}

#frame {
    position: relative;
    left: 500px auto;
    top: 5px;

}
