/* background*/

.top {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;

}

#right, #left {
    animation: jello-horizontal 5s infinite forwards;
}

body {
    margin-top: 100px;
    text-align: center;
    box-sizing: border-box;
    height: 900px;
}

/* maing playing area*/

main {
    height: 600px;
    margin-top: 50px;
}

/* dice rolling area*/

#pressDown {
    border: 20px solid green;
}

.pressDown:hover {
    border-radius: 100px;
}



.diceArea {
    height: 300px;
    margin-left: 5px;

}

/* score display*/
#score {
    color: tomato;
    font-size: 5rem;
    text-align: center;
    height: 50px;
    padding-top: 14px;
    padding-bottom: 70px;
    padding-left: 30px;
}


/* messages to user box*/
#msgArea {
    color: green;
    font-size: 5rem;
    text-align: center;
    padding-top: 60px;
    height: 50px;
    padding-left: 40px;
}

/*  images settings*/


#dice {
    margin-left: 30px;
    border: 25px solid salmon;


}

.pressDown {
    border: 15px solid forestgreen;

}

.pressDown:active {
    border: 15px solid darkgoldenrod;
    border-radius: 5%;
}



.Button {
    width: 0.1px;
    color: transparent;
    border: none;
    height: 01px;
}


footer {
    display: none;
}


/* visuals*/

@keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
